# reference: http://www.objc.io/issue-6/travis-ci.html

osx_image: xcode7.2
language: objective-c
before_install: cd Example && rm -rf Pods && pod install && cd -
script:
- xcodebuild -workspace Example/Example.xcworkspace -scheme Example clean build -destination "platform=iOS Simulator,name=iPhone 6,OS=latest" -destination-timeout 120 test
